# This is a basic workflow to help you get started with Actions

name: Build


# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  buildHtml:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - uses: krdlab/setup-haxe@master
        with:
          haxe-version: latest
      # Runs a set of commands using the runners shell
      - name: Install Haxelib
        run: |
          haxelib setup ~/haxelib
          haxelib install flixel > /dev/null --quiet
          haxelib install openfl > /dev/null --quiet
          haxelib install lime > /dev/null --quiet
          haxelib install hxcpp > /dev/null --quiet
          haxelib install flixel-addons > /dev/null --quiet
        shell: cmd
      - name: Create Version Tag
        run: echo "${{github.run_id}}" > VERSION
        shell: cmd
      - name: Compile
        run: |
          
         haxelib run lime build html5 --app-version="4.0.0-${{ github.run_id}}"
      - name: Publish Artifact
        uses: actions/upload-artifact@v2.2.4
        with:
          name: htmlBuild
          path: 'export/release/html5/bin'